@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root{
    font-family:Roboto ,sans-serif;
}
.body {
   font-family:Roboto ,sans-serif;
  
}
.wrapper{
    width: 1240px;
    margin :0 auto;
    
}
.nav-inline{
    
     background-color: #212934;
     width:1509x;
    height: 35px;
    align-items: center;
     gap: 15px;
    font-size:11.8098px;
    padding-left: 7.5rem;
    display:flex;
}
.nav1{
     display:inline-flex;
    width:1509px;
    height: 35px;
    list-style-type: none;
    align-items: center;
    color:#cfd6e1;
    gap: 15px;
   
}
.nav1 i{
    
}
.nav2{
  
    display:flex;
    list-style-type: none;
    color:#cfd6e1;
    width:1509px;
    height: 35px;
    align-items: center;
    gap: 15px;
    font-size:11.8098px;
    padding-left: 7.5rem;
    
    
}
.nav2 a{
    
   color:#cfd6e1;
 
    list-style-type: none;
     width:25px;
    height: 9px;
left: 890px;
right: 915px;
    align-items: center;
      gap: 15px;
    font-size:11.8098px;
    align-items: right;
  
    
   
}
.div-hero{
    height: 91px;
    width: 1305px;
    margin-left: 109px;
    margin-right: 1414px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 141px;
   display: flex;
    color: #2e3a46;
    
}

.div-hero h1{
    padding-left: 2rem;
}
.hero {
    color:#59ab6e;
    font-size: 50px;
    padding-left: 20rem;
    
   
}
.hero-items{
    list-style-type: none;
    display: inline-flex;
    width: 939px;
    height: 100px;
    margin-left: 150px;
    margin-right: 140px;
    align-items: center;
    gap:107px;
    justify-content: space-between;
    color: rgb(119, 127, 134);
    
}
 .hero-items li{
    float: right;
   font-weight:300;
   font-size: 18px;
  
   
 }
 .hero2{
    list-style-type:none;
    position: relative;
    display: inline-flex;
    gap:30px;
    font-size:15px ;
 }
 .icon_badge1{

    position:absolute;
    top: -15px;
   
    width:30px;
    height: 20px;
    background-color: rgb(236, 231, 231);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 90%;
   color: #020b18;
   font: bold;
 }
 .icon_badge2{

    position:absolute;
    top: -20px;
    
    width:50px;
    height: 30px;
    background-color: rgb(236, 231, 231);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 90%;
   color: #020b18;
   font: bold;
 }