@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root{
    
}
.body {
   font-family:Roboto ,sans-serif;
   margin:0;
   padding:0;
}
.nav1{
    display:flex;
    list-style-type: none;
    background-color: #212934;
    color:#cfd6e1;
    width:1509px;
    height: 35px;
    align-items: center;
    gap: 15px;
    font-size:11.8098px;
    padding-left: 5rem;
}
.nav1 a{
    
    color:#cfd6e1;
    float: left;
    
}